body{
    background-color: rgb(34, 32, 32); 
}
.container{
    margin-top: 20em;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    font-feature-settings: 'kern';
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0;
    display: grid;
}

.container h1{
    color: #37ca0a;
    font-size: 100px;
    font-weight: lighter;
}

.container h2{
    color: white;
    font-weight: 20;
    font-size: 40px;
}

.container p{
    font-size: 40px;
    font-weight: 10;
}